.responsive-div {
	display: flex;
	align-items: center;
    justify-content: center;
	width: 15%;
}

/* For mobile devices */
@media (max-width: 768px) {
	.responsive-div {
		width: 50%;
	}
}

.roboto {
	font-family: "Roboton Flex", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.roboto-bold {
	font-family: "Roboton Flex", sans-serif;
	font-weight: 700;
	font-style: normal;
}
